@import url("../fonts/stylesheet.css");
@import "normalize";

$bgColor: #dcebfa;
$lightBgColor: #fbfcfe;
$mainColor: #0b6ec3;
$emColor: #ffb22e;
$emColorLight: #ffbb46;
$emDarkColor: #001370;
$h: "Arial", sans-serif;
$red: #c00000;

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: $bgColor;
  box-sizing: border-box;
}

.strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.red {
  color: $red;
}

.emDarkColor {
  color: $emDarkColor;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.subheading {
  text-align: center;
  font-weight: 300;
  font-size: 1.4rem;
}

.button {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 0.96rem;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: $emColor;
  border-style: solid;
  border: none;
  padding: 1rem 2rem;
  transition: all 0.2s linear;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  @media (max-width: 1200px) {
    display: block;
    margin: 0 auto;
    width: 12rem;
  }
  &_em {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: none;
  }
  &_link {
    text-decoration: none;
  }
  &:hover {
    background-color: $emColorLight;
  }
}

.section {
  padding: 8rem 4rem;
  @media (max-width: 576px) {
    padding: 2rem 1rem 2rem 1rem;
  }
  &_light {
    background-color: $lightBgColor;
  }
}

.footer {
  background-color: #0f1113;
  padding: 1rem;
  font-size: 0.9rem;
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    align-items: center;
    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
  &__item {
    margin: 0 1.4rem;
    font-weight: bold;
    @media (max-width: 480px) {
      margin: 0.5rem 0;
    }
  }
  &__link {
    text-decoration: none;
    color: white;
  }
  .copyright {
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.486);
  }
}
